body {
  background-color: black;
}

.square {
  width: 30%;
  background-repeat: no-repeat;
  background-size: 100%;
  padding-bottom: 30%;
  float: left;
  margin: 1.5%;
}

#container {
  max-width: 600px;
  margin: 0 auto;
}

h1 {
  color: white;
}
